# ==========================================
# SPECIFIC LOCAL FILES
# ==========================================
.env
config/odoo/local.conf
docker-compose.override.yml

# ==========================================
# SSL DATA & ACME CHALLENGES
# ==========================================
# Certbot (production)
config/certs/prod/conf/*
!config/certs/prod/conf/.gitkeep
config/certs/prod/www/*
!config/certs/prod/www/.gitkeep

# Mkcert (development)
config/certs/dev/*
!config/certs/dev/.gitkeep

# ==========================================
# RUNTIME DATA & LOGS
# ==========================================
*.log
*.dump
.venv/
venv/
ENV/

# ==========================================
# IDES & TEXT EDITORS
# ==========================================
# PyCharm / PhpStorm / JetBrains
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# OS & Temporary Files
*.swp
*.swo
*~
.DS_Store
Thumbs.db
